<div class="card">
    <p-table
        #dt2
        [value]="accounts"
        dataKey="id"
        [rows]="4"
        [globalFilterFields]="['id', 'userData.name', 'ticketNo', 'ticketValue', 'cinema', 'ticket.ticketName']"
        [paginator]="true"
        [rowsPerPageOptions]="[4, 8, 12, 16, 20]"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="عرض {last} من اصل{totalRecords}"
        >
        <ng-template pTemplate="caption">
            <div class="table-header-container">
                <div class="header-right">
                    <div class="table-header">مبيعات التذاكر</div>
                    <div class="flex">
                        <p-iconField iconPosition="left" class="ml-auto">
                            <p-inputIcon>
                                <i class="pi pi-search"></i>
                            </p-inputIcon>
                            <input 
                                pInputText 
                                type="text" 
                                (input)="dt2.filterGlobal($any($event.target).value, 'contains')" 
                                placeholder="بحث عن ..." />
                        </p-iconField>
                    </div>
                    <div class="bars-icon">
                      <p-button class="setting" icon="pi pi-sliders-h"/>
                      <p-button class="sort" icon="pi pi-sort-alt"/>
                    </div>
                </div>
                <div class="header-left">
                    <div class="switch-input">
                        <p-inputSwitch [(ngModel)]="metaKey" inputId="input-metakey" />
                        <label for="input-metakey">{{ metaKey ? 'مفعلة' : 'غير مفعلة' }}</label>
                    </div>
                    <div class="ticket-reserve">
                        <p-button label="حجز تذكرة جديدة" />
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
              <th>
                <div class="th-content">#</div>
              </th>
              <th>
                <div class="th-content">المستخدم</div>
              </th>
              <th>
                <div class="th-content">رقم التذكرة</div>
              </th>
              <th pSortableColumn="ticketValue">
                <div class="th-content">
                  قيمة التذكرة 
                  <p-sortIcon field="ticketValue"></p-sortIcon>
                </div>
              </th>
              <th>
                <div class="th-content">السينمات</div>
              </th>
              <th>
                <div class="th-content">عدد الأشخاص</div>
              </th>
              <th>
                <div class="th-content">عدد مرات الشراء</div>
              </th>
              <th>
                <div class="th-content">التذكرة</div>
              </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-account>
            <tr>
                <td>
                  <div class="account-id">
                    {{ account.id }}
                  </div>
                </td>
                <td>
                    <div class="content-wrapper">
                      <ng-container *ngIf="account.userData.image; else fallbackText">
                        <img 
                          [src]="account.userData.image" 
                          class="rounded-content"
                          alt="User Image" 
                        />
                      </ng-container>
                      <ng-template #fallbackText>
                        <span class="rounded-content fallback-text">Ma</span>
                      </ng-template>
                  
                      <div class="user-info">
                        <span class="user-name">{{ account.userData.name }}</span>
                        <span class="user-phone">{{ account.userData.phoneNumber }}</span>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="ticket-no">
                      {{ account.ticketNo }}
                    </div>
                </td>                  
                  <td>
                    <div class="ticket-value">
                      {{ account.ticketValue }}
                    </div>
                </td>                  
                  <td>
                    <div class="cinema"  pTooltip="{{ account.cinema }}" tooltipPosition="top">
                      {{ account.cinema }}
                    </div>
                </td>                  
                  <td>
                    <div class="person-count">
                      {{ account.personCount }}
                    </div>
                </td>                  
                  <td>
                    <div class="purchase-count">
                      {{ account.purchasingCount }}
                    </div>
                </td>                  
                  <td>
                    <div class="ticket-content">
                      <div class="ticket-icon-right">
                        <p-button icon="pi pi-ticket"/>
                      </div>
                      <div class="ticket-data">
                        <div class="ticket-name">{{ account.ticket.ticketName }}</div>
                        <div class="ticket-details">{{ account.ticket.ticketDetails }}</div>
                      </div>
                      <div class="ticket-icon-left">
                        <p-button
                          icon="pi pi-download"
                          (click)="downloadTicket(account.ticket.ticketDetails, account.ticket.ticketName)"/>
                      </div>
                      </div>
                </td>  
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="7">No customers found.</td>
            </tr>
        </ng-template>
    </p-table>
</div>

