[dir="rtl"] {
    direction: rtl;
    text-align: right;
}
  
[dir="ltr"] {
    direction: ltr;
    text-align: left;
}

.app-container{
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.container {
    display: flex;
    width: 100%;
    gap: 18px;
}

.chart{
    width: 70%;
}

.card{
    width: 30%;
}

@media (max-width: 1024px) {
    .app-container{
        padding: 24px;
    }
    .container {
        flex-direction: column;
        align-items: center; 
        gap: 12px; 
    }

    .chart,
    .card {
        width: 100%;
    }

    .card{
        max-width: 400px;
    }
}

/* Media query for mobile phones (screen width less than 768px) */
@media (max-width: 768px) {
    .app-container{
        padding: 16px;
    }
    .container {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .chart,
    .card {
        width: 100%;
    }

    .chart {
        height: 300px; 
    }

    .card {
        height: auto;
        max-width: 400px;  
    }
}