::ng-deep.custom-dropdown .p-dropdown {
    width: 67.37px;
    height: 30.28px;
    border: 1px solid #E8E8E8;
    border-radius: 8.07px;
    display: flex;
    align-items: center;
}

::ng-deep .custom-dropdown .p-dropdown-label {
    font-family: 'Neo Sans Arabic';
    font-size: 12.11px;
    font-weight: 400;
    line-height: 16.96px;
    text-align: center;
    padding: 0;

}

::ng-deep .custom-dropdown .p-dropdown-trigger {
    width: 18.28px;
}

::ng-deep .custom-dropdown .p-dropdown-trigger-icon {
    width: 9.82px;
    height: 9.23px;
}
