@use "./app/shared/styles/reset";
@use "primeng/resources/themes/lara-light-blue/theme.css";
@use "primeng/resources/primeng.css";
@use "primeicons/primeicons.css";

$background-color: #E9EAEA;

@font-face {
    font-family: 'Neo Sans Arabic';
    src: url("../public/fonts/NeoSansArabic.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: $background-color;
    font-family: 'Neo Sans Arabic';
}
